<div class="form">
  <form method="get" action="<%= route.path_info %>"
    enctype="application/x-www-form-urlencoded">
    <%= erb :options %>
    <%= erb :events %>
    <%= erb :control %>
    <%= erb :find_cat %>
  </form>
</div>
