<div class="table">
  <table>
    <tr>
      <th>No.</th>
      <% if show_details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <% if show_details %>
        <th>Score, slot</th>
      <% else %>
        <th>Result</th>
      <% end %>
      <th>Guaranteed</th>
      <% if show_details %>
        <th>Alt. score, slot</th>
      <% else %>
        <th>Alt. result</th>
      <% end %>
      <th>Alt. guaranteed</th>
      <% if show_details %>
        <th>Seed</th>
        <th>Value</th>
      <% end %>
      <th>Alt. No.</th>
    </tr>

    <% each_ab_cat do |prev_b, (a, b)| %>
      <tr>
        <%= number_td(a, prev_b) %>
        <%= seed_tds(a.rarity_fruit, prev_b) %>
        <%= score_tds(a, prev_b) %>

        <% if prev_b %>
          <%= cat_tds(prev_b) %>
          <%= seed_tds(prev_b.slot_fruit, prev_b) %>

        <% elsif show_details %>
          <td colspan="5"></td>
        <% else %>
          <td colspan="3"></td>
        <% end %>
      </tr>

      <% if pbr = prev_b&.rerolled %>
        <tr><%= cat_tds(pbr, :next) %></tr>
      <% end %>

      <tr>
        <%= seed_tds(a.slot_fruit, a) %>
        <%= cat_tds(a) %>

        <%= score_tds(b, a) %>

        <%= seed_tds(b.rarity_fruit, a) %>
        <%= number_td(b, a) %>
      </tr>

      <% if ar = a.rerolled %>
        <tr><%= cat_tds(ar, :next) %></tr>
      <% end %>
    <% end %>

    <tr>
      <% if show_details %>
        <td colspan="5"></td>
      <% else %>
        <td colspan="3"></td>
      <% end %>

      <% last_b = arg.dig(:cats, -1, -1) %>
      <%= cat_tds(last_b) %>
      <%= seed_tds(last_b.slot_fruit, last_b) %>
    </tr>
  </table>
</div>
